<template>
<div class="ayuda-container">
  <navbar2></navbar2>
  <h3 class="titulo">Identifica la serie de tu aparato</h3>
   <div class="aparatos">
             <div class="aparato-digital">
        <h3><img src="../assets/engrane.jpg" width="30"> TV</h3><!--favicon.png-->
        <div class="infoAparatos">
          En la base del receptor digital encontrarás el número CDSN.<br>
          <span style="color: #FFC107"><b>NOTA:</b></span> Puedes ingresar el CDSN de cualquiera de tus decodificadores.
        </div>
        <div class="modeloImagen">
          <span class="modelo"><b>Modelo 1</b></span>
          <span class="modelo" style="margin-left:320px"><b>Modelo 2</b></span>
        </div>
        <div>
          <img class="imgapa" src="../assets/stb.jpg" width="400" height="250">
          <img class="imgapa" src="../assets/stb2.jpg" width="400" height="250">
        </div>
      </div>
      <div class="separador">
      </div>
      <div class="aparato-internet">
        <h3><img src="../assets/engrane.jpg" width="30"> INTERNET</h3>
        <div class="infoAparatos">
          En la base del modem encontrarás el número de serie.
          <br>
        </div>
        <div class="modeloImagen">
          <span class="modelo"><b></b></span>
          <span class="modelo" style="margin-left:320px"><b></b></span>
        </div>
        <img class="imgapa" src="../assets/cablemodem.jpg" width="400" height="250">
      </div>
    </div>
    <div class="ayuda">
            <h2><b>¿Necesitas más ayuda?</b></h2>
            <h5> Atención a clientes: 01 800 700 (STAR) 7827</h5>
      <a href="https://realizarpago.stargroup.com.mx:2010/#!/auth/login" class="navbar-item"> Iniciar sesión</a>
    </div>
</div>

</template>
<script>
import navbar2 from '../components/navbar3'
export default {
  name: 'ayuda',
  data () {
    return {}
  },
  components: {
    navbar2
  }
}
</script>
<style>

</style>
