<template>
<div class="ayuda-container">
  <navbar4></navbar4>
  <div class="contenedor-tbx">
     <div class="aparatos-tbx" >
       <br>
       <p class="titulo-tbx1">Identifica la serie de tu aparato</p><br>
      <div class="aparato-digital">
        <div class="infoAparatos" style="margin-bottom:10px;" >
          <span style="color: #FFC107"><b>NOTA</b></span><br>
           <b style="font-size:13px;"><i> En la base del receptor digital encontrarás el número CDSN.<br>
           Puedes ingresar el CDSN de cualquiera de tus decodificadores.</i></b>
         </div>
          <div class="infoAparatos">
             <span class="modelo"><b>Modelo 1</b></span>
        <div class="modeloImagen">
           <img class="imgapa" src="../assets/Material_Modelo StarTV 1.png" width="400" height="250">
        </div>
          </div>
         <div class="infoAparatos">
           <span class="modelo"><b>Modelo 2</b></span>
        <div class="modeloImagen">
          <img class="imgapa" src="../assets/modelo2tbx.png" width="400" height="250">
        </div>
         </div>
        <div class="infoAparatos container-tbx-ayuda">
           <span style="font-size:22px; font-weight:bold;" >¿Necesitas más ayuda?</span>
          <span style="font-size:14px; font-weight:bold;">Atención a clientes: 01 800 700 (STAR) 7827</span>
          <span style="font-size:14px; font-weight:bold;">Iniciar Sesión</span>
        </div>
      </div>
    </div>
   </div>
</div>
</template>
<script>
import navbar4 from '../components/navbar4'
export default {
  name: 'ayuda',
  data () {
    return {}
  },
  components: {
    navbar4
  }
}
</script>
<style scoped>
.container-tbx-ayuda{
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
  background: #fbce50;
  margin-top:30px;
}

.titulo-tbx1{
font-size: 40px;
font-weight: bolder;
color: #FAC430;
padding-bottom: 10px;
margin: 0
}

.contenedor-tbx {
width: auto;
height: auto;
display: flex;
justify-content: center;
align-items: center;
  background: #fff;
}
.modeloImagen{
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.modelo{
  font-weight: bolder;
  border-bottom: 3px solid #FFC107;
}

@media screen and (max-width:500px) {
.titulo-tbx1{
  font-size: 25px;

}
.aparatos-tbx {
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
width: auto;
    padding-bottom: 30px;
    margin-left:30px;
  margin-right:30px;
}
.aparatos-tbx .imgapa {
width: 250px;
height: 150px
}

.titulo-tbx2{
    font-size: 16px;
}
.titulo-tbx3{
  font-size: 22px;
}

.controlform2-tbx {
    font-size: 20px;
}
}
</style>
