<template>
<div class="changeEmail">
  <navbar></navbar>
  <div class="contenedor" v-if="showValidationForm"><!--v-if="showValidationForm"-->
        <form class="formulario"  autocomplete="off" name="myForm"  @submit.prevent="validar">
          <p class="titulo"> Cambiar Correo Electrónico</p>
          <label>Ingresa la serie del aparato principal</label>
          <input name="serie" type="text" class="controlform2" v-validate="'required'" :class="(errors.has('serie')) ? 'is-invalid':'is-valid'" placeholder="Número de serie"  v-model="serie">
          <span v-show="errors.has('serie')" class="invalid-feedback">{{ errors.first('serie') }}</span>
          <button class="btn-startv" type="submit"> Aceptar</button>
          <br>
          <br>
          <router-link to="/" class="text-info"> <b> <i class="fas fas-back"></i> <i class="fas fa-long-arrow-alt-left"></i> Regresar  </b></router-link>
          <div class="ayuda">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Si necesitas ayuda para saber la ubicación de la serie y el tipo de aparato puedes consultarla aquí:
           <router-link to="/ayuda" class="text-info"> <b>Ayuda</b></router-link>
          </div>
        </form>
   </div>
     <div class="contenedor" v-if="showRecoverForm"><!--v-if="showRecoverForm"-->
        <form class="formulario"  autocomplete="off"  name="myForm2"  @submit.prevent="validaRecover">
          <p class="titulo">Cambio de Correo Electrónico</p>
          <p class="descripcion1">¡Correcto! la validación se hizo correctamente,ahora puedes  modificar tu correo con el que puedes accesar al sistema</p>
          <label>Correo Electrónico Actual</label>
          <input type="email" v-on:keyup="valideEmail" v-validate="'required'" :class="(errors.has('email')) ? 'is-invalid':'is-valid'" name="email" class="controlform2" placeholder="Correo Electrónico"   v-model="email">
          <span class="text-danger" v-show="showMessageEmail"><b>{{messageEmail}}</b></span>
          <span class="text-danger" v-show="wait"><img src="../assets/Spinner.gif" width="20" height="20"> verificando......</span>
          <p class="text-danger"><b>¡ Atención !</b> Este es el correo de acceso al sistema, al modificarlo tendrás que acceder con el nuevo correo
            registrado</p>
          <button class="btn-startv" type="submit"> Cambiar Correo Electrónico</button>
          <p class="text-help" style="color: red;">(Al aceptar te enviaremos un correo con tus nuevas credenciales de acceso)</p>
        </form>
   </div>
   <div class="contenedor" v-if="showSuccess" ><!--v-if="showSuccess"-->
   <div class="formulario-success" >
       <strong class="titulo2"><b>¡Correcto!</b></strong>
       <p>El reestablecimiento de tu correo electrónico se ha completado exitosamente.</p>
       Solo tienes que iniciar sesión con este correo<b>{{email}}</b> y tu contraseña.
      <h1 class="titulo" style="margin:0px;padding:0px;font-weight:900"><b>ATENCIÓN A CLIENTES:</b></h1>
      <h4 style="margin:0px;padding:0px">01 800 700 (STAR) 7827</h4>
      <img class="img2" src="../assets/iconousuario.jpg" width="50px" style="margin-top:50px">
      <button class="btn-logout" type="submit" @click="logout"> Salir e Iniciar sesión</button>
   </div>
  </div>
</div>

</template>
<script>
import navbar from '../components/navbar'
import Vue from 'vue'
import axios from 'axios'
import URL from '../urls'
export default {
  name: 'changeEmail',
  data () {
    return {
      email: Vue.localStorage.get('usuario'),
      serie: '',
      password: '',
      passwordValida: '',
      contrato: Vue.localStorage.get('contrato'),
      wait: false,
      messageEmail: '',
      showMessageEmail: false,
      iconEmail: '',
      showSuccess: false,
      showRecoverForm: false,
      showValidationForm: true,
      config: {
        headers: {
          'Authorization': 'Basic ' + '',
          'Content-Type': 'application/json'
        }
      }
    }
  },
  mounted () {
    if (!Vue.localStorage.get('contrato')) {
      this.$router.push('/')
    }
  },
  methods: {
    async valideEmail () {
      this.wait = true
      let Parametros = {
        'email': this.email,
        'contrato': this.contrato
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/validateEmail', JSON.stringify(Parametros), this.config)
      this.wait = false
      if (resp.data.validateEmailResult === true) {
        this.showMessageEmail = true
        this.iconEmail = 'fa fa-times'
        this.messageEmail = 'Este correo ya esta registrado en el sistema'
      } else {
        this.showMessageEmail = false
      }
    },
    logout () {
      this.$localStorage.remove('contrato')
      this.$localStorage.remove('usuario')
      this.$localStorage.remove('token')
      this.$localStorage.remove('token1')
      this.$router.push('/')
    },
    validar () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.validarUsuario()
        }
      })
    },
    validaRecover () {
      if (this.showMessageEmail) {
        return
      }
      this.$validator.validateAll().then(result => {
        if (result) {
          this.reset()
        }
      })
    },
    async validarUsuario () {
      let Parametros = {
        'id': 0,
        'serie': this.serie,
        'email': this.email
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/GetValidaRecoverPassword', JSON.stringify(Parametros), this.config)
      console.log(resp)
      if (resp.data.GetValidaRecoverPasswordResult > 0) {
        this.showValidationForm = false
        this.showRecoverForm = true
        this.contrato = resp.data.GetValidaRecoverPasswordResult
      } else {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: '¡Atencion!',
          text: 'La serie no tiene relación con el contrato actual',
          duration: 10000
        })
      }
    },
    async reset () {
      var Parametros = {
        'contrato': this.contrato,
        'correo': this.email,
        'password': '',
        'op': 2
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/GetUpdateCliente', JSON.stringify(Parametros), this.config)
      console.log(resp)
      this.showValidationForm = false
      this.showRecoverForm = false
      this.showSuccess = true
    }
  },
  components: {
    navbar
  }
}
</script>
<style>
  .text-info{
    color:black;
  }
  .btn-logout{
    background-color: white;
    color: #FAC430;
    border:0px;
    font-size: 12pt;
    font-weight: bold;
  }
  .btn-startv{
    width: 250px;
  }
</style>
