<template>
<div class="formulario-login">
  <form autocomplete="off" novalidate name="myForm" @submit.prevent="validate">
    <div class="img-container">
      <img src="../assets/logosjuntos.jpg" >
    </div>
    <!--<h3>Ingresa tu email y contraseña</h3>-->
    <input  style="margin-top: 20px" type="email" placeholder="Correo Electrónico"  v-validate="'required|email'" :class="(errors.has('email')) ? 'is-invalid':'is-valid'"  class="controlformlogin" name="email"  v-model="email" >
    <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
    <input type="password"  v-validate="'required'" :class="(errors.has('contrasena')) ? 'is-invalid':'is-valid'"  placeholder="Contraseña"  class="controlformlogin" name="contrasena"   v-model="contrasena" >
    <span v-show="errors.has('contrasena')" class="invalid-feedback">{{ errors.first('contrasena') }}</span>
    <div style="margin-top: 15px">
      <button type="submit" class="btn-startv2"><i class="fa fa-sign-in" aria-hidden="true"></i>LOGIN</button>
    </div>
    <div style="margin-top: 20px">
    <a  href="#!/signin" style="color:black;font-size: 13.5px;"><b>¿No estás registrado?</b>
      <b> <router-link to="/signin" style="color:#ffffff;font-size: 13.5px;" class="text-info" ><b>Regístrate aquí</b></router-link></b>
    </a>
    </div>
    <div style="margin-top: 20px">
      <router-link to="/recover" style="color:#ffffff;font-size: 13.5px;" class="text-info"><b>¿Olvidaste tu contraseña?</b></router-link>
    </div>
   </form>
  </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'
import URL from '../urls'
export default {
  name: 'App',
  data () {
    return {
      email: '',
      contrasena: ''
    }
  },
  mounted () {
    if (Vue.localStorage.get('contrato')) {
      this.$router.push('/userhome')
    }
  },
  methods: {
    validate () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.login()
        }
      })
    },
    async login () {
      let token = btoa(this.email + ':' + this.contrasena)
      let params = {}
      var config = {
        headers: {
          'Authorization': 'Basic ' + token
        }
      }
      let response = await axios.post(URL.URL_SERVICIO + '/Usuario/LogOn', JSON.stringify(params), config)
      if (response.data.LogOnResult.contrato > 0) {
        Vue.localStorage.set('token', response.data.LogOnResult.Codigo)
        Vue.localStorage.set('token1', response.data.LogOnResult.Codigo)
        Vue.localStorage.set('contrato', response.data.LogOnResult.contrato)
        Vue.localStorage.set('usuario', this.email)
        Vue.localStorage.set('usuarioNombre', response.data.LogOnResult.usuario)
        this.$router.push('/userhome')
      } else {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: 'Atención',
          text: 'El usuario no tiene acceso al sistema con los accesos proporcionados',
          duration: 10000
        })
      }
    }
  }
}
</script>
<style>
body {
   background-color: #fff;
}
section {
   padding: 24px;
   width: 100%;
}
.controlformloginResp {
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #000;
  min-width: 300px;
  background-color: #FAC430;
  color: #000;
}
.controlformlogin {
  color: #000;
  background-color: #F4C53D;
  border: none;
  font-size: 20px;
  border-bottom: solid 2px #565555;
  border-radius: 0px;
  width: 80%;
  margin-top: 35px;
  }
.controlformlogin:focus {
  border-bottom: solid 2px #000;
}
.formulario-login{
  max-width: 400px;
  height: auto;
  background-color:#FAC430;
  margin:0 auto;
  margin-top: 50px;
  padding-bottom: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.img-container {
background: white;
}
.img-container img {
 width: 360px;
 padding: 20px;
}
.formulario-login h3{
  text-align: center;
  color: #8c8e81;
  font-size: 15px;
}
.formulario-login form{
    text-align: center;
}

section{
    display: flex;
    justify-content:space-around;
}
.submit{
  width: auto;
  font-size: 18px;
  padding: 7px;
  background-color: #FFC107;
  border: none;
  border-radius: 5px;
  cursor:pointer;
}
.submit:hover{
  width: auto;
  font-size: 18px;
  padding: 7px;
  background-color: rgb(197, 150, 7);
  border: none;
  border-radius: 5px;
}
@media screen and (max-width: 500px) {
.formulario-login {
  width: auto;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  height: auto;
  padding: 25px;
}

.img-container {
background: white;
}
.img-container img {
 width: 300px;
 padding: 20px;
}
section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
.submit{
    margin: 9px;
    font-size: 18px;
    width: 150px;
    padding: 7px;
    background-color: #FFC107;
    border: none;
    border-radius: 5px;
  }
.submit:hover{
    width: 150px;
    font-size: 15px;
    padding: 7px;
    background-color: rgb(197, 150, 7);
    border: none;
    border-radius: 5px;
  }
 .formulario-login a{
   margin-top: 15px;
   margin-bottom: 15px;
 }
}
</style>
