<template>
<div class="navbar">
    <img class="logo" src="../assets/logoStarTvBlack.png">
</div>
</template>
<script>

export default {
  name: 'navbar4',
  data () {
    return {}
  }
}
</script>
<style>
.navbar{
    height: 50px;
    display: flex;
    background: #f6f2e7;
    color:#000;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
 .navbar .logo{
    width: 70px;
    height: 45px;
    text-align: center;
 }
/* .navbar .logo{
    width: 100px;
    height: 50px;
    text-align: center;
} */
.navbar a{
 color:black;
  margin-right: 15px;
  font-weight: bold;
}
.navbar a:hover{
 color:#000000;
}
@media screen and (max-width: 500px) {
 .navbar .logo{
    width: 70px;
    height: 45px;
    text-align: center;
 }
}
</style>
