<template>
<div class="navbar">
    <img class="logo" src="../assets/logosjuntos.png">
    <div class="user-info" v-if="!contrato" >
        <div class="avatar" style="margin-left: 15px" >
            <img class="img" src="../assets/iconousuario.png">
        </div>
        <!--<router-link to="/" style="color:#FAC430"> <b>Iniciar sesión</b></router-link>-->
        <a href="https://realizarpago.stargroup.com.mx:2010/#!/auth/login"> Iniciar sesión</a>
    </div>
</div>
</template>
<script>

export default {
  name: 'navbar3',
  data () {
    return {}
  }
}
</script>
<style>
.navbar{
    height: 50px;
    display: flex;
    background: #d6d1c4;
    color:#000;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    width: 200px;
    height: 60px;
    margin-left: 15px;
}
.navbar a{
 color:black;
  margin-right: 15px;
  font-weight: bold;
}
.navbar a:hover{
 color:#000000;
}
@media screen and (max-width: 400px) {
 .navbar .logo{
    width: 70px;
    height: 20px;
    margin-left: 15px;
 }
}
</style>
