<template>
<div class="navbar">
    <img class="logo" src="../assets/logosjuntos.png">
    <div class="user-info" v-if="!contrato" >
        <div class="avatar" style="margin-left: 15px" >
            <img class="img" src="../assets/iconousuario.png">
        </div>
        <a href="" class=""  >Iniciar sesión</a>
    </div>
     <!-- <a href=""  v-if="contrato>0"> {{usuario}}</a> -->
    <div class="user-info" @click="muestraOpciones" v-if="contrato">
       <div class="avatar" style="margin-left: 15px" >
         <img class="img" src="../assets/iconousuario.png">
       </div>
       <a class="user-email"> {{usuario}}</a>
       <i class="fas fa-chevron-down"></i>
        <div class="user-options" id="useropt">
        <ul>
            <li><a @click="logout">Salir</a></li>
            <li> <router-link to="/changeemail" class="text-info"> <b>Cambiar Email</b></router-link></li>
        </ul>
    </div>
    </div>
</div>
</template>
<script>
import Vue from 'vue'
export default {
  name: 'navbar',
  data () {
    return {
      usuario: '',
      contrato: 0
    }
  },
  mounted () {
    this.contrato = Vue.localStorage.get('contrato')
    this.usuario = Vue.localStorage.get('usuarioNombre')
  },
  methods: {
    muestraOpciones () {
      let options = document.getElementById('useropt')
      if (options.classList.contains('active')) {
        options.classList.remove('active')
      } else {
        options.classList.add('active')
      }
    },
    logout () {
      this.$localStorage.remove('contrato')
      this.$localStorage.remove('usuario')
      this.$localStorage.remove('token')
      this.$localStorage.remove('token1')
      this.$router.push('/')
    }
  }
}
</script>
<style>
.navbar{
    height: 50px;
    display: flex;
    background: #d6d1c4;
    color:#ffffff;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    width: 200px;
    height: 60px;
    margin-left: 15px;
}
.navbar a{
 color:black;
  margin-right: 15px;
  font-weight: bold;
}
.navbar a:hover{
 color:#000000;
}
.avatar{
    border: none;
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}
.avatar img{
   width: inherit;
   height: inherit;
   border-radius: 50%;
   transform: scale(0.9);
}
.user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}
.user-options{
    width: 200px;
    height: 100px;
    color: #000;
    background: #d6d1c4;
    position: absolute;
    top:70px;
    right:15px;
    display: none;
}
.user-options.active{
  display: block;
}
.user-options li{
    display: block;
    cursor:pointer;
    margin:5px;
    padding:5px;
    margin-left:-30px;
}
.user-options a{
    width:100%;
    display:block;
}
.user-options li:hover{
    background: #bfbbb1;
}
.user-options li:hover > a{
    color:#000000;
}
@media screen and (max-width: 400px) {
 .navbar .logo{
    width: 70px;
    height: 20px;
    margin-left: 15px;
 }
 .user-info .user-email {
     font-size: 10px;
     color: #000000;
 }
 .avatar{
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}
}
</style>
