<template>
<div class="recover">
  <navbar></navbar>
  <div class="contenedor" v-if="showValidationForm"><!-- v-if="showValidationForm" -->
        <form class="formulario"  autocomplete="off" name="myForm3"  novalidate @submit.prevent="validar">
          <p class="titulo"> Recupera tu contraseña</p>
          <p class="descripcion1"><b>Ingresa la siguiente información para poder reestablecer tu contraseña.</b></p>
          <label>Correo Eléctronico</label>
          <input type="email" name="email"  v-validate="'required|email'" :class="(errors.has('email')) ? 'is-invalid':'is-valid'"  class="controlform2" placeholder="Correo Electrónico" v-model="email">
          <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
          <label>Serie del receptor principal</label>
          <input name="serie" type="text" class="controlform2" v-validate="'required'" :class="(errors.has('email')) ? 'is-invalid':'is-valid'" placeholder="Número de serie" v-model="serie">
          <span v-show="errors.has('serie')" class="invalid-feedback">{{ errors.first('serie') }}</span>
          <button class="btn-startv" type="submit" style="width: 40%"> ACEPTAR</button>
          <div class="ayuda">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Si necesitas ayuda para saber la ubicación de la serie y el tipo de aparato puedes consultarla aquí:
             <router-link to="/ayuda" class="text-info"><b>Ayuda</b></router-link>
          </div>
        </form>
   </div>
   <div class="contenedor" v-if="showRecoverForm"><!-- v-if="showRecoverForm" -->
        <form class="formulario"  autocomplete="off" novalidate name="myForm2" @submit.prevent="validaRecover">
          <p class="titulo">Proceso de reestablecimiento de contraseña</p>
          <p class="descripcion1">¡Correcto! La validación se hizo correctamente, ahora puedes elegir una nueva contraseña y modificar tu correo con el que puedes accesar al sistema</p>
          <label>Correo Electrónico actual</label>
          <input type="email" v-on:keyup="valideEmail" name="email" class="controlform2" placeholder="Correo Electrónico"   v-model="email">
          <span class="text-danger" v-show="showMessageEmail"><b>{{messageEmail}}</b></span>
          <span class="text-danger" v-show="wait"><img src="../assets/Spinner.gif" width="20" height="20"> verificando......</span>
          <p class="text-danger"><b>¡ Atención !</b> Este es el correo de acceso al sistema, al modificarlo tendrás que acceder con el nuevo correo
            registrado</p>
           <label>Nueva contraseña</label>
          <input name="password" type="password" v-validate="'required'"  :class="(errors.has('password')) ? 'is-invalid':'is-valid'"  class="controlform2" placeholder="Contraseña" v-model="password">
          <span v-show="errors.has('password')" class="invalid-feedback">El campo es obligatorio</span>
          <label>Confirma contraseña</label>
          <input name="passwordValida" type="password" v-validate="'required'"  :class="(errors.has('passwordValida')) ? 'is-invalid':'is-valid'" class="controlform2" placeholder="Repetir Contraseña"  v-model="passwordValida">
          <span v-show="errors.has('passwordValida')" class="invalid-feedback"> {{ errors.first('passwordValida') }}</span>
          <span v-show="password != passwordValida" class="invalid-feedback"> Las contraseñas no coinciden.</span>
           <div class="captch">
               <vue-recaptcha  @verify="onVerify" :sitekey="'6LfUomoUAAAAAJZupR41zxoRfAyt5cHw4akU3f_O'"></vue-recaptcha>
           </div>
          <button class="btn-startv" type="submit" :disabled="!verified" style="width:50%"> ACEPTAR</button>
          <p class="text-help" style="color: red;">(Al aceptar te enviaremos un correo con tus nuevas credenciales de acceso)</p>
        </form>
   </div>
  <div class="contenedor" v-if="showSuccess" ><!-- v-if="showSuccess" -->
   <div class="formulario-success" >
        <strong class="titulo2"><b>¡Correcto!</b></strong>
        <p>El reestablecimiento de tu contraseña se ha completado correctamente,
       solo tienes que iniciar sesión con este correo<b> {{email }} </b> y tu contraseña</p>
      <h1 class="titulo" style="margin:0px;padding:0px;font-weight:900"><b>ATENCIÓN A CLIENTES:</b></h1>
      <h4 style="margin:0px;padding:0px">01 800 700 (STAR) 7827</h4>
      <img class="img2" src="../assets/iconousuario.jpg" width="50px" style="margin-top:50px">
      <router-link to="/" style="color:#FAC430"> <b>Iniciar sesión</b></router-link>
   </div>
  </div>
</div>

</template>
<script>
import navbar from '../components/navbar'
import VueRecaptcha from 'vue-recaptcha'
import axios from 'axios'
import URL from '../urls'
export default {
  name: 'recover',
  data () {
    return {
      email: '',
      serie: '',
      password: '',
      passwordValida: '',
      contrato: 0,
      verified: false,
      wait: false,
      messageEmail: '',
      showMessageEmail: false,
      iconEmail: '',
      showSuccess: false,
      showRecoverForm: false,
      showValidationForm: true,
      config: {
        headers: {
          'Authorization': 'Basic ' + '',
          'Content-Type': 'application/json'
        }
      }
    }
  },
  methods: {
    onVerify () {
      this.verified = true
    },
    async valideEmail () {
      this.wait = true
      let Parametros = {
        'email': this.email,
        'contrato': this.contrato
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/validateEmail', JSON.stringify(Parametros), this.config)
      console.log(resp)
      this.wait = false
      if (resp.data.validateEmailResult === true) {
        this.showMessageEmail = true
        this.iconEmail = 'fa fa-times'
        this.messageEmail = 'Este correo ya esta registrado en el sistema'
      } else {
        this.showMessageEmail = false
      }
    },
    validar () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.validarUsuario()
        }
      })
    },
    validaRecover () {
      if (this.password !== this.passwordValida) {
        return
      }
      if (this.showMessageEmail) {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: '¡Atencion!',
          text: 'Ya existe una email similar registrado en el sistema',
          duration: 10000
        })
        return
      }
      this.$validator.validateAll().then(result => {
        if (result) {
          this.reset()
        }
      })
    },
    async reset () {
      var Parametros = {
        'contrato': this.contrato,
        'correo': this.email,
        'password': this.password,
        'op': 1
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/GetUpdateCliente', JSON.stringify(Parametros), this.config)
      console.log(resp)
      this.showValidationForm = false
      this.showRecoverForm = false
      this.showSuccess = true
    },
    async validarUsuario () {
      let Parametros = {
        'id': 0,
        'serie': this.serie,
        'email': this.email
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/GetValidaRecoverPassword', JSON.stringify(Parametros), this.config)
      if (resp.data.GetValidaRecoverPasswordResult > 0) {
        this.showValidationForm = false
        this.showRecoverForm = true
        this.contrato = resp.data.GetValidaRecoverPasswordResult
      } else {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: '¡Atencion!',
          text: 'La serie y el email proporcionados no se encuentran registrados',
          duration: 10000
        })
      }
    }
  },
  components: {
    navbar,
    VueRecaptcha
  }
}
</script>
<style>
.text-info{
    color:black;
  }
  .btn-logout{
    background-color: white;
    color: #FAC430;
    border:0px;
    font-size: 12pt;
    font-weight: bold;
  }
  .btn-startv{
    width: 250px;
  }
  .text-info2{
    color: #FAC430;
  }
</style>
