<template>
<div class="recuperartoolbox">
 <navbar4></navbar4>
  <div class="contenedor-tbx" v-if="showValidationForm">
        <form class="formulario"  autocomplete="off" name="myForm3"  novalidate @submit.prevent="validar">
          <p class="titulo"> Recupera tu contraseña</p>
          <p class="descripcion1"><b>Ingresa la siguiente información para poder <br> reestablecer tu contraseña.</b></p><br>
           
           <div class="formulario-contenedor-tbx">             
          <label style="margin-bottom: 10px;"><b>Correo Eléctronico</b></label>
          <input type="email" name="email"  v-validate="'required|email'" :class="(errors.has('email')) ? 'is-invalid':'is-valid'"  class="controlform2-tbx" placeholder="Correo Electrónico" v-model="email">
          <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
          <label style="margin-bottom: 10px;"><b>Serie del receptor principal</b></label>
          <input name="serie" type="text" class="controlform2-tbx" v-validate="'required'" :class="(errors.has('email')) ? 'is-invalid':'is-valid'" placeholder="Número de serie" v-model="serie">
          <span v-show="errors.has('serie')" class="invalid-feedback">{{ errors.first('serie') }}</span>
          </div>
          <button class="btn-startv" type="submit" style="width: 40%"> ACEPTAR</button>
          <div class="ayuda-tbx">
            <div><img src="../assets/unnamed.png" style="width:50px;"></div>
            <div style="margin-left:10px;">
              <label><b>Si necesitas ayuda para saber la ubicación de la serie y el  <br>tipo de aparato puedes consultarla aquí:
             <router-link to="/ayudatbx" class="text-info"> <b>Ayuda</b></router-link></b></label>
            </div>
            
          </div>
        </form>
   </div>
   <div class="contenedor-tbx" style="padding-right:30px; padding-left:30px; padding-bottom:30px;" v-if="showRecoverForm">
        <form class="formulario"  autocomplete="off" novalidate name="myForm2" @submit.prevent="validaRecover">
          <p class="titulo-principal">Proceso de reestablecimiento <br> de contraseña</p>
          <p style="font-weight:bold; font-size:14px; text-align:center; " >La validación se hizo correctamente, ahora puedes elegir una nueva contraseña y modificar tu correo con el que puedes accesar al sistema</p>
         <div class="formulario-contenedor-tbx">
              <label><b>Correo electrónico actual</b></label>
              <input type="email" v-on:keyup="valideEmail" name="email" class="controlform2-tbx" placeholder="Correo electrónico"   v-model="email">
              <span class="text-danger" v-show="showMessageEmail"><b>{{messageEmail}}</b></span>
              <span class="text-danger" v-show="wait"><img src="../assets/Spinner.gif" width="20" height="20"> verificando......</span>
              <p class="text-danger" style="font-size:12px; font-weight:bold;" ><i><b>¡ Atención ! este es el correo de acceso al sistema, al modificarlo tendras que acceder con el nuevo correo
                registrado</b></i></p>
              <label><b>Nueva contraseña</b></label>
              <input name="password" type="password" v-validate="'required'"  :class="(errors.has('password')) ? 'is-invalid':'is-valid'"  class="controlform2-tbx" placeholder="Contraseña" v-model="password">
              <span v-show="errors.has('password')" class="invalid-feedback">El campo es obligatorio</span>
              <label><b>Confirma contraseña</b></label>
              <input name="passwordValida" type="password" v-validate="'required'"  :class="(errors.has('passwordValida')) ? 'is-invalid':'is-valid'" class="controlform2-tbx" placeholder="Repetir Contraseña"  v-model="passwordValida">
              <span v-show="errors.has('passwordValida')" class="invalid-feedback"> {{ errors.first('passwordValida') }}</span>
              <span v-show="password != passwordValida" class="invalid-feedback"> Las contraseñas no coinciden.</span>
            
          </div>
         <div class="captch">
               <vue-recaptcha  @verify="onVerify" :sitekey="'6LfUomoUAAAAAJZupR41zxoRfAyt5cHw4akU3f_O'"></vue-recaptcha>
           </div>
          <button class="btn-startv" style="margin-top:30px;" type="submit" :disabled="!verified">ACEPTAR</button>
          <div style="text-align:center;margin-top:10px;width:300px;">
            <p style="color: #f51111;font-weight:bold;font-size:12px;">(Al aceptar te enviaremos un correo con tus nuevas credenciales de acceso)</p>
          </div>
          
         
        </form>
   </div>
   <!--  v-if="showSuccess" -->
  <div class="contenedor-tbx" v-if="showSuccess" style="padding-botton:300px;"  >
   <div class="formulario-success" >
        <strong class="titulo-principal"><b>¡Correcto!</b></strong>
        <p style="text-align:center;font-size:14px;"><b>El reestablecimiento de tu contraseña se ha <br> completado correctamente.<br>
       Solo tienes que iniciar sesión con este correo <br> <b> {{email }} </b><br> y tu contraseña</b></p><br><br>
      <h1 class="titulo-principal" style="margin:0px;padding:0px;font-weight:900; font-size:14px;"><b>ATENCIÓN A CLIENTES:</b></h1>
      <h4 style="margin:0px;padding:0px; font-size:14px;"><b>01 800 700 (STAR) 7827</b></h4>
      <img class="img2" src="../assets/iconousuario.jpg" width="50px" style="margin-top:20px">
       <h1 class="titulo-principal" style="margin:0px;padding:0px;font-weight:900; font-size:14px;"><b>Iniciar Sesión</b></h1>
     <!--  <a href="https://realizarpago.stargroup.com.mx:2010/#!/auth/login" style="color:#FAC430"> <b>Iniciar sesión</b></a> -->
      <!--<router-link to="https://realizarpago.stargroup.com.mx:2010/#!/auth/login" class="text-info"> Iniciar sesión</router-link>-->
   </div>
  </div>
</div>

</template>
<script>
import navbar4 from '../components/navbar4'
import VueRecaptcha from 'vue-recaptcha'
import axios from 'axios'
import URL from '../urls'
export default {
  name: 'recuperartoolbox',
  data () {
    return {
      email: '',
      serie: '',
      password: '',
      passwordValida: '',
      contrato: 0,
      verified: false,
      wait: false,
      messageEmail: '',
      showMessageEmail: false,
      iconEmail: '',
      showSuccess: false,
      showRecoverForm: false,
      showValidationForm: true,
      config: {
        headers: {
          'Authorization': 'Basic ' + '',
          'Content-Type': 'application/json'
        }
      }
    }
  },
  methods: {
    onVerify () {
      this.verified = true
    },
    async valideEmail () {
      this.wait = true
      let Parametros = {
        'email': this.email,
        'contrato': this.contrato
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/validateEmail', JSON.stringify(Parametros), this.config)
      console.log(resp)
      this.wait = false
      if (resp.data.validateEmailResult === true) {
        this.showMessageEmail = true
        this.iconEmail = 'fa fa-times'
        this.messageEmail = 'Este correo ya esta registrado en el sistema'
      } else {
        this.showMessageEmail = false
      }
    },
    validar () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.validarUsuario()
        }
      })
    },
    validaRecover () {
      if (this.password !== this.passwordValida) {
        return
      }
      if (this.showMessageEmail) {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: '¡Atencion!',
          text: 'Ya existe una email similar registrado en el sistema',
          duration: 10000
        })
        return
      }
      this.$validator.validateAll().then(result => {
        if (result) {
          this.reset()
        }
      })
    },
    async reset () {
      var Parametros = {
        'contrato': this.contrato,
        'correo': this.email,
        'password': this.password,
        'op': 1
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/GetUpdateClienteToolbox', JSON.stringify(Parametros), this.config)
      console.log(resp)
      this.showValidationForm = false
      this.showRecoverForm = false
      this.showSuccess = true
    },
    async validarUsuario () {
      let Parametros = {
        'id': 0,
        'serie': this.serie,
        'email': this.email
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/GetValidaRecoverPassword', JSON.stringify(Parametros), this.config)
      if (resp.data.GetValidaRecoverPasswordResult > 0) {
        this.showValidationForm = false
        this.showRecoverForm = true
        this.contrato = resp.data.GetValidaRecoverPasswordResult
      } else {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: '¡Atencion!',
          text: 'La serie y el email proporcionados no se encuentran registrados',
          duration: 10000
        })
      }
    }
  },
  components: {
    navbar4,
    VueRecaptcha
  }
}
</script>
<style>
.titulo-principal{
    font-size: 22px;
    font-weight: bolder;
    color: #FAC430;
    padding-bottom: 10px;
    margin: 0;
    text-align:center;
}


.titulo-tbx1{
  font-size: 40px;
	font-weight: bolder;
	color: #FAC430;
	padding-bottom: 10px;
	margin: 0
}
.text-info{
    color:black;
  }
  .btn-logout{
    background-color: white;
    color: #FAC430;
    border:0px;
    font-size: 12pt;
    font-weight: bold;
  }
  .btn-startv{
    width: 250px;
  }
  .text-info2{
    color: #FAC430;
  }
  .contenedor-tbx {
	width: auto;
	height: auto;
  display: flex;  
	justify-content: center;
	align-items: center;
	background: #fff
}
.controlform2-tbx {
    margin-bottom: 15px;
    font-size: 20px;
    border: none;
    border-bottom: solid 2px #FAC430;
    min-width: 300px;
    background-color: #fff;
    color: #000000;
}

.formulario-contenedor-tbx{
  display: flex;
  flex-direction:column;
  width: 300px;
}

.ayuda-tbx {
  display:flex;
  flex-direction:row;
  margin-top: 50px;
  	margin-bottom: 100px;
	padding: 10px;
	background: rgba(240, 196, 23, .459)
}

.ayuda-tbx  b{
 font-size:12px;
}
@media screen and (max-width:1000px) {
	.titulo-tbx1{
  font-size: 25px;

}
.aparatos-tbx {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		width: auto;
		padding-bottom: 30px
	}
	.aparatos-tbx .imgapa {
		width: 250px;
		height: 150px
	}

.titulo-tbx2{
    font-size: 16px;  
}
.titulo-tbx3{
  font-size: 22px;
}

.controlform2-tbx {   
    font-size: 20px; 
}
}
</style>
