<template>
<div class="recover">
  <navbar2></navbar2>
  <div class="contenedor" v-if="showAparatoForm" >
        <form class="formulario"  autocomplete="off"  name="myForm" data-vv-scope="myForm" @submit.prevent="confirmarSerie">
          <p class="titulo"><b>Crea tu cuenta de StarTV | StarGo</b></p>
          <!--<p class="descripcion1">Ingresa la siguiente información para poder crear tu cuenta</p>-->
          <label>Ingresa la serie del aparato principal</label>
          <input name="serie" style="margin-top:25px" type="text"  class="controlform2" v-validate="'required'" :class="(errors.has('serie')) ? 'is-invalid':'is-valid'" placeholder="Número de serie" v-model="serie">
          <span v-show="errors.has('serie')" class="invalid-feedback">{{ errors.first('serie') }}</span>
          <button class="btn-startv" type="submit" style="width: 50%"> ACEPTAR</button>
        </form>
   </div>
   <div class="contenedor" v-if="showRegistroForm" >
        <form class="formulario"  autocomplete="off" name="myForm2" data-vv-scope="myForm2"  @submit.prevent="confirmar">
          <p class="titulo2"><b>¡Bienvenido!</b></p>
          <p class="titulo">Tu información ha sido validada</p>
            <p class="descripcion1"><b>Cliente: {{ Cliente }}</b></p>
            <p class="descripcion1"><b>Contrato: {{ContratoCompuesto}}</b></p>
          <p class="descripcion1">Ingresa la siguiente información para poder crear tu cuenta. Todos los campos son requeridos.</p>
          <label>Correo Electrónico:</label>
          <input type="email" v-on:keyup="valideEmail" v-validate="'required|email'" :class="(errors.has('email')) ? 'is-invalid':'is-valid'" name="email" class="controlform2" placeholder="Ingresa aquí tu email" v-model="email">
          <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
          <span class="text-danger" v-show="wait"><img src="../assets/Spinner.gif" width="20" height="20"> verificando......</span>
           <span class="text-danger" v-show="showMessageEmail">{{messageEmail}}</span>
           <label>Nueva Contraseña:</label>
          <input name="password" type="password" v-validate="'required'" :class="(errors.has('password')) ? 'is-invalid':'is-valid'" class="controlform2" placeholder="Ingresa contraseña" v-model="password" >
          <span v-show="errors.has('password')" class="invalid-feedback">El campo es obligatorio</span>
          <label>Confirmar Contraseña:</label>
          <input name="passwordValida"  v-validate="'required'"  :class="(errors.has('passwordValida')) ? 'is-invalid':'is-valid'" type="password" class="controlform2" placeholder="Ingresa nuevamente tu contraseña"  v-model="passwordValida">
          <span v-show="errors.has('passwordValida')" class="invalid-feedback"> {{ errors.first('passwordValida') }}</span>
          <span v-show="password != passwordValida" class="invalid-feedback"> Las contraseñas no coinciden.</span>
           <div class="captch">
               <vue-recaptcha  @verify="onVerify" :sitekey="'6LfUomoUAAAAAJZupR41zxoRfAyt5cHw4akU3f_O'"></vue-recaptcha>
           </div>
          <button class="btn-startv" type="submit"  :disabled="!verified"> Registrar </button>
          <p class="text-help">(Al aceptar te enviaremos un correo con tus nuevas credenciales de acceso)</p>
          <!-- <div class="ayuda">
            <i class="fa fa-info-circle" aria-hidden="true"></i> ¿No reconoces esta información?,
             <router-link to="/" class="text-info"> <b>Intenta ingresando otra serie</b></router-link>
          </div> -->
        </form>
   </div>
   <div class="contenedor" v-if="showSuccess" >
   <div class="formulario-success" >
        <strong class="titulo">¡Enhorabuena!</strong>
      <p>Tu registro se ha completado correctamente, ahora puedes consultar tu estado de cuenta solo
      tienes que iniciar sesión con este correo
      <b> {{email }} </b> y tu contraseña.
      <h1 class="titulo" style="margin:0px;padding:0px;font-weight:900"><b>ATENCIÓN A CLIENTES:</b></h1>
      <h4 style="margin:0px;padding:0px">01 800 700 (STAR) 7827</h4>
      <img class="img2" src="../assets/iconousuario.jpg" width="50px" style="margin-top:50px">
      <a href="https://realizarpago.stargroup.com.mx:2010/#!/auth/login" style="color:#FAC430"> Iniciar sesión</a>
      <!--<router-link to="https://realizarpago.stargroup.com.mx:2010/#!/auth/login" class=""> Iniciar sesión</router-link>-->
   </div>
   </div>
    <div class="aparatos" v-if="showAparatoForm">
      <div class="aparato-digital">
        <h3><img src="../assets/engrane.jpg" width="30"> TV</h3><!--favicon.png-->
        <div class="infoAparatos">
          En la base del receptor digital encontrarás el número CDSN.<br>
          <span style="color: #FFC107"><b>NOTA:</b></span> Puedes ingresar el CDSN de cualquiera de tus decodificadores.
        </div>
        <div class="modeloImagen">
          <span class="modelo"><b>Modelo 1</b></span>
          <span class="modelo" style="margin-left:320px"><b>Modelo 2</b></span>
        </div>
        <div>
          <img class="imgapa" src="../assets/stb.jpg" width="400" height="250">
          <img class="imgapa" src="../assets/stb2.jpg" width="400" height="250">
        </div>
      </div>
      <div class="separador">
      </div>
      <div class="aparato-internet">
        <h3><img src="../assets/engrane.jpg" width="30"> INTERNET</h3>
        <div class="infoAparatos">
          En la base del modem encontrarás el número de serie.
          <br>
        </div>
        <div class="modeloImagen">
          <span class="modelo"><b></b></span>
          <span class="modelo" style="margin-left:320px"><b></b></span>
        </div>
        <img class="imgapa" src="../assets/cablemodem.jpg" width="400" height="250">
      </div>
    </div>
</div>

</template>
<script>
import navbar2 from '../components/navbar2'
import VueRecaptcha from 'vue-recaptcha'
import axios from 'axios'
import URL from '../urls'
export default {
  name: 'recover',
  data () {
    return {
      email: '',
      serie: '',
      password: '',
      passwordValida: '',
      ContratoCompuesto: '',
      Contrato: 0,
      Cliente: '',
      wait: false,
      messageEmail: '',
      showMessageEmail: false,
      iconEmail: '',
      showAparatoForm: true,
      showRegistroForm: false,
      verified: false,
      showSuccess: false,
      user: {},
      config: {
        headers: {
          'Authorization': 'Basic ' + '',
          'Content-Type': 'application/json'
        }
      }
    }
  },
  methods: {
    onVerify () {
      this.verified = true
    },
    async valideEmail () {
      this.wait = true
      let Parametros = {
        'email': this.email,
        'contrato': this.Contrato
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/validateEmail', JSON.stringify(Parametros), this.config)
      this.wait = false
      if (resp.data.validateEmailResult === true) {
        this.showMessageEmail = true
        this.iconEmail = 'fa fa-times'
        this.messageEmail = 'Este correo ya esta registrado en el sistema'
      } else {
        this.showMessageEmail = false
      }
    },
    confirmarSerie () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.confirmaAparato()
        }
      })
    },
    async confirmaAparato () {
      var Parametros = {
        'id': 0,
        'serie': this.serie
      }
      let response = await axios.post(URL.URL_REGISTRO + '/SessionWeb/GetvalidaAparato', JSON.stringify(Parametros), this.config)
      if (response.data.GetvalidaAparatoResult.valid) {
        this.showAparatoForm = false
        this.showRegistroForm = true
        this.Contrato = response.data.GetvalidaAparatoResult.Contrato
        this.Cliente = response.data.GetvalidaAparatoResult.Cliente
        this.ContratoCompuesto = response.data.GetvalidaAparatoResult.ContratoCompuesto
      } else {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: '¡Atencion!',
          text: response.data.GetvalidaAparatoResult.message,
          duration: 10000
        })
      }
    },
    confirmar () {
      if (this.password !== this.passwordValida) {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: '¡Atencion!',
          text: 'Las contraseñas no coinciden',
          duration: 10000
        })
        return
      }
      this.$validator.validateAll().then(result => {
        if (result) {
          this.confirmarRegistro()
        }
      })
    },
    async confirmarRegistro () {
      var Parametros = {
        'contrato': this.Contrato,
        'login': this.email,
        'pasaporte': this.password
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/Getregistracliente', JSON.stringify(Parametros), this.config)
      if (resp.data.GetregistraclienteResult === 1) {
        this.showAparatoForm = false
        this.showSuccess = true
        this.showRegistroForm = false
      } else {
        this.$notify({
          group: 'foo',
          class: 'warn',
          title: '¡Atención!',
          text: 'Hemos detectado una cuenta existente con el correo ingresado'
        })
      }
    }
  },
  components: {
    navbar2,
    VueRecaptcha
  }
}
</script>
<style>
.infoAparatos{
  margin: 0px;
  margin-left: 35px;
  padding: 0px;
}
.modeloImagen{
  margin: 10px;
  width: 100%;
}
.modelo{
  width: 50%;
  border-bottom: 3px solid #FFC107;
}
</style>
