<template>
<div class="registrotoolbox">
 <navbar4></navbar4>
  <div class="contenedor-tbx" v-if="showAparatoForm" >
        <form class="formulario"  autocomplete="off"  name="myForm" data-vv-scope="myForm" @submit.prevent="confirmarSerie">
          <p class="titulo-tbx1">Crea tu cuenta StarTV</p>
          <!--<p class="descripcion1">Ingresa la siguiente información para poder crear tu cuenta</p>-->
          <label class="titulo-tbx2">Ingresa la serie del aparato principal</label>
          <input name="serie"  type="text"  class="controlform2-tbx" v-validate="'required'" :class="(errors.has('serie')) ? 'is-invalid':'is-valid'" placeholder="Número de serie" v-model="serie">
          <span v-show="errors.has('serie')" class="invalid-feedback">{{ errors.first('serie') }}</span>
          <button class="btn-startv" type="submit" style="width: 50%"> ACEPTAR</button>
        </form>
   </div>

   <div class="contenedor-tbx" style="padding-left:30px;padding-right:30px;padding-bottom:100px;" v-if="showRegistroForm" >
        <form class="formulario-tbx"  autocomplete="off" name="myForm2" data-vv-scope="myForm2"  @submit.prevent="confirmar">
          <label class="titulo-tbx1" style="padding-bottom:0px;"><b>¡BIENVENIDO!</b></label>
          <label class="titulo-tbx3">Tu información ha sido validada</label><br>
            <label class="descripcion-tbx"><b>Cliente: {{ Cliente }}</b></label><br>
            <label class="descripcion-tbx"><b>Contrato: {{ContratoCompuesto}}</b></label>
          <p style="text-align:center"><b>Ingresa la siguiente información para poder crear tu cuenta. Todos los campos son requeridos.</b></p>
          <div class="formulario-contenedor-tbx">
            <label><b>Correo Electrónico:</b></label>
          <input type="email" v-on:keyup="valideEmail" v-validate="'required|email'" :class="(errors.has('email')) ? 'is-invalid':'is-valid'" name="email" class="controlform2-tbx" placeholder="Ingresa aquí tu email" v-model="email">
          <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
          <span class="text-danger" v-show="wait"><img src="../assets/Spinner.gif" width="20" height="20"> verificando......</span>
           <span class="text-danger" v-show="showMessageEmail">{{messageEmail}}</span>
           <label><b>Nueva Contraseña:</b></label>
          <input name="password" type="password" v-validate="'required'" :class="(errors.has('password')) ? 'is-invalid':'is-valid'" class="controlform2-tbx" placeholder="Ingresa contraseña" v-model="password" >
          <span v-show="errors.has('password')" class="invalid-feedback">El campo es obligatorio</span>
          <label><b>Confirmar Contraseña:</b></label>
          <input name="passwordValida"  v-validate="'required'"  :class="(errors.has('passwordValida')) ? 'is-invalid':'is-valid'" type="password" class="controlform2-tbx" placeholder="Confirma tu contraseña"  v-model="passwordValida">
          <span v-show="errors.has('passwordValida')" class="invalid-feedback"> {{ errors.first('passwordValida') }}</span>
          <span v-show="password != passwordValida" class="invalid-feedback"> Las contraseñas no coinciden.</span>
          </div>
           <div class="captch">
               <vue-recaptcha  @verify="onVerify" :sitekey="'6LfUomoUAAAAAJZupR41zxoRfAyt5cHw4akU3f_O'"></vue-recaptcha>
           </div>
          <button class="btn-startv" type="submit"  :disabled="!verified"> REGISTRAR </button>
        </form>
   </div>
  <!--  -->
   <div class="contenedor-tbx" v-if="showSuccess" style="padding-bottom:200px;"   >
   <div class="formulario" >
        <strong class="titulo" style="margin-top:20px">¡Enhorabuena!</strong>
      <p style="font-size:14px; text-align:center;"><b>Tu registro se ha completado correctamente,</b><br> <span style="font-weight:bold; color: #FAC430;">ahora ingresa a la página principal servicio de streaming contratado</span><br>  <b>solo  tienes que iniciar sesión con este correo {{email }}  y tu contraseña.</b></br></p><br><br>
      <h1 class="titulo" style="margin:0px;padding:0px;font-weight:900; font-size:14px;"><b>ATENCIÓN A CLIENTES:</b></h1>
      <h4 style="margin:0px;padding:0px; font-size:14px;"><b>01 800 700 (STAR) 7827</b></h4>
      <img class="img2" src="../assets/iconousuario.jpg" width="50px" style="margin-top:20px;margin-bottom:10px;">
       <!-- <h1 class="titulo" style="margin:0px;padding:0px;font-weight:900; font-size:14px;"><b>Iniciar Sesión</b></h1> -->
   </div>
   </div>
   <div class="contenedor-tbx">
     <div class="aparatos-tbx" v-if="showAparatoForm">
      <div class="aparato-digital">
        <div class="infoAparatos" style="margin-bottom:10px;" >
          <span style="color: #FFC107"><b>NOTA</b></span><br>
           <b><i > En la base del receptor digital encontrarás el número CDSN.<br>
           Puedes ingresar el CDSN de cualquiera de tus decodificadores.</i></b>
         </div>
          <div class="infoAparatos">
             <span class="modelo"><b>Modelo 1</b></span>
        <div class="modeloImagen">
           <img class="imgapa" src="../assets/Material_Modelo StarTV 1.png" width="400" height="250">
        </div>
          </div>
         <div class="infoAparatos">
           <span class="modelo"><b>Modelo 2</b></span>
        <div class="modeloImagen">
          <img class="imgapa" src="../assets/modelo2tbx.png" width="400" height="250">
        </div>
         </div>
      </div>
    </div>
   </div>
</div>
</template>
<script>
import navbar4 from '../components/navbar4'
import VueRecaptcha from 'vue-recaptcha'
import axios from 'axios'
import URL from '../urls'
export default {
  name: 'recover',
  data () {
    return {
      email: '',
      serie: '',
      password: '',
      passwordValida: '',
      ContratoCompuesto: '',
      Contrato: 0,
      Cliente: '',
      wait: false,
      messageEmail: '',
      showMessageEmail: false,
      iconEmail: '',
      showAparatoForm: true,
      showRegistroForm: false,
      verified: false,
      showSuccess: false,
      user: {},
      config: {
        headers: {
          'Authorization': 'Basic ' + '',
          'Content-Type': 'application/json'
        }
      }
    }
  },
  methods: {
    onVerify () {
      this.verified = true
    },
    async valideEmail () {
      this.wait = true
      let Parametros = {
        'email': this.email,
        'contrato': this.Contrato
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/validateEmail', JSON.stringify(Parametros), this.config)
      this.wait = false
      if (resp.data.validateEmailResult === true) {
        this.showMessageEmail = true
        this.iconEmail = 'fa fa-times'
        this.messageEmail = 'Este correo ya esta registrado en el sistema'
      } else {
        this.showMessageEmail = false
      }
    },
    confirmarSerie () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.confirmaAparato()
        }
      })
    },
    async confirmaAparato () {
      var Parametros = {
        'id': 0,
        'serie': this.serie
      }
      let response = await axios.post(URL.URL_REGISTRO + '/SessionWeb/GetvalidaAparato', JSON.stringify(Parametros), this.config)
      if (response.data.GetvalidaAparatoResult.valid) {
        this.showAparatoForm = false
        this.showRegistroForm = true
        this.Contrato = response.data.GetvalidaAparatoResult.Contrato
        this.Cliente = response.data.GetvalidaAparatoResult.Cliente
        this.ContratoCompuesto = response.data.GetvalidaAparatoResult.ContratoCompuesto
      } else {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: '¡Atencion!',
          text: response.data.GetvalidaAparatoResult.message,
          duration: 10000
        })
      }
    },
    confirmar () {
      if (this.password !== this.passwordValida) {
        this.$notify({
          group: 'foo',
          type: 'error',
          title: '¡Atencion!',
          text: 'Las contraseñas no coinciden',
          duration: 10000
        })
        return
      }
      this.$validator.validateAll().then(result => {
        if (result) {
          this.confirmarRegistro()
        }
      })
    },
    async confirmarRegistro () {
      var Parametros = {
        'contrato': this.Contrato,
        'login': this.email,
        'pasaporte': this.password
      }
      let resp = await axios.post(URL.URL_REGISTRO + '/SessionWeb/GetregistraclienteToolbox', JSON.stringify(Parametros), this.config)
      if (resp.data.GetregistraclienteToolboxResult === 1) {
        this.showAparatoForm = false
        this.showSuccess = true
        this.showRegistroForm = false
      } else {
        this.$notify({
          group: 'foo',
          class: 'warn',
          title: '¡Atención!',
          text: 'Hemos detectado una cuenta existente con el correo ingresado'
        })
      }
    }
  },
  components: {
    navbar4,
    VueRecaptcha
  }
}
</script>
<style>
.titulo-tbx1{
font-size: 40px;
font-weight: bolder;
color: #FAC430;
padding-bottom: 10px;
margin: 0
}
.titulo-tbx2{
      font-size: 30px;
    font-weight: bold;
    color: #3c3931;
    padding-bottom: 10px;
    margin: 0;
}
.titulo-tbx3{
      font-size: 30px;
    font-weight: bold;
    color: #FAC430;
    padding-bottom: 10px;
    margin: 0;
}

.contenedor-tbx {
width: auto;
height: auto;
display: flex;
justify-content: center;
align-items: center;
background: #fff
}
.infoAparatos{
  margin: 0px;
  margin-left: 35px;
  padding: 0px;
  font-size: 12px;
}
.modeloImagen{
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.modelo{
  font-weight: bolder;
  border-bottom: 3px solid #FFC107;
}

.formulario-tbx {
max-width: 500px;
height: 100%;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center
}

.formulario-contenedor-tbx{
  display: flex;
  flex-direction:column;
}

.controlform2-tbx {
margin-bottom: 9px;
margin-top: 9px;
font-size: 20px;
border: none;
border-bottom: solid 2px #FAC430;
min-width: 300px;
background-color: #fff;
color: #000000;
}
.controlform2-tbx:focus {
border-bottom: solid 2px rgb(204, 147, 13);
}
.btn-startv {
font-size: 17px;
border-radius: 0px;
background: #000000;
border: none;
max-width: 100%;
color: #ffffff;
width: 200px;
font-weight: bolder;
}
@media screen and (max-width:1000px) {
.titulo-tbx1{
font-size: 25px;
}
.aparatos-tbx {
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
width: auto;
padding-bottom: 30px
}
.aparatos-tbx .imgapa {
width: 250px;
height: 150px
}
.titulo-tbx2{
  font-size: 16px;
}
.titulo-tbx3{
  font-size: 22px;
}
.controlform2-tbx {
    font-size: 20px;
  }
}
</style>
