<template>
<div class="userHome">
  <navbar></navbar>
  <div class="contenedorHome">
      <div class="documentos-contenedor">
        <div class="tituloDocumentos">Mis Facturas</div>
        <div class="documentos-actuales" style="width:600px">
            <div class="documentos-actuales-contenido">
              <ul>
                <li v-for="x in documentos" :key="x.id">
                  <div>
                    <h5><b>{{x.Nombre}}</b></h5>
                  <h6 v-if="x.opcion==1">{{x.Importe | currency}}</h6>
                  <p>{{x.Ticket}}</p>
                  <p>{{x.Fecha}}</p>
                  </div>
                  <img v-if="x.opcion==1" src="../assets/pdf.svg" height="40" width="40">
                  <img v-if="x.opcion==2" src="../assets/xml.svg" height="40" width="40">
                  <img v-if="x.opcion==3" src="../assets/pdf.svg" height="40" width="40">
                  <button type="button"  class="btn-descarga" @click="descargar(x.opcion, x.Ticket)" title='toPDFFile.pdf'><i class="fa fa-download"></i> <b>Descargar</b></button>
                  <div>
                    <img v-if="x.opcionXML==2" src="../assets/xml.svg" height="40" width="40">
                  </div>
                  <button type="button"  class="btn-descarga" @click="descargar(x.opcionXML, x.Ticket)" title='toPDFFile.pdf'><i class="fa fa-download"></i> <b>Descargar</b></button>
                </li>
              </ul>
            </div>
        </div>
      </div>
      <a name='dwnldLnk' id='dwnldLnk' download='FacturaDigital.pdf' style="display:none;" />
      <a name='dwnldLnk2' id='dwnldLnk2' download='EstadoCuenta.pdf' style="display:none;" />
      <a name='dwnldLnk3' id='dwnldLnk3' download='cdfi.xml' style="display:none;" />
      <div class="historial-contenedor">
        <div class="tituloHistorial">Mis estados de cuenta</div>
        <div class="historial">
            <div class="historial-lista">
            <ul>
              <li v-for="item in historial" :key="item.IdEstadoCuenta">
                <img src="../assets/pdf.svg" height="40" width="40">
                {{item.Fecha}}
                <button type="button"  class="btn-descarga" @click="descargar(3, item.IdEstadoCuenta)" title='toPDFFile.pdf'><i class="fa fa-download"></i> Descargar</button>
            </li>
            </ul>
            </div>
        </div>
      </div>
   </div>
</div>

</template>
<script>
import Vue from 'vue'
import axios from 'axios'
import URL from '../urls'
import navbar from '../components/navbar'
export default {
  name: 'userHome',
  data () {
    return {
      contrato: Vue.localStorage.get('contrato'),
      sindocumentos: false,
      documentos: [],
      historial: [],
      config: {
        headers: {
          Authorization: Vue.localStorage.get('token'),
          'Content-Type': 'application/json'
        }
      }
    }
  },
  mounted () {
    if (!Vue.localStorage.get('contrato')) {
      this.$router.push('/')
    }
    this.GetDocumentos()
    this.GetHistorial()
  },
  methods: {
    async descargar (op, clave) {
      let Parametros = {
        contrato: this.contrato,
        op: op,
        Clave: clave
      }
      let response = await axios.post(
        URL.URL_SERVICIO + '/TransferService/DownloadFile',
        JSON.stringify(Parametros),
        this.config
      )
      if (op === 1) {
        let dlnk
        let pdf =
          'data:application/pdf;base64,' +
          response.data.DownloadFileResult.FileByteStream
        dlnk = document.getElementById('dwnldLnk')
        dlnk.href = pdf
        dlnk.click()
      }
      if (op === 2) {
        let dlnk
        let pdf =
          'data:text/plain;base64,' +
          response.data.DownloadFileResult.FileByteStream
        dlnk = document.getElementById('dwnldLnk3')
        dlnk.href = pdf
        dlnk.click()
      }
      if (op === 3) {
        let dlnk
        let pdf =
          'data:application/pdf;base64,' +
          response.data.DownloadFileResult.FileByteStream
        dlnk = document.getElementById('dwnldLnk2')
        dlnk.href = pdf
        dlnk.click()
      }
    },
    async GetDocumentos () {
      let parametros = {
        contrato: this.contrato
      }
      let response = await axios.post(
        URL.URL_SERVICIO + '/Usuario/Getdocumentosdisponibles',
        JSON.stringify(parametros),
        this.config
      )
      this.documentos = response.data.GetdocumentosdisponiblesResult
    },
    async GetHistorial () {
      let params = {
        Contrato: this.contrato
      }
      let resp = await axios.post(
        URL.URL_SERVICIO + '/Usuario/GetEstadosDeCuentaContratoHistorial',
        JSON.stringify(params),
        this.config
      )
      this.historial = resp.data.GetEstadosDeCuentaContratoHistorialResult
      console.log(resp)
    }
  },
  components: {
    navbar
  }
}
</script>
<style>
  .tituloHistorial{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
  }
  .tituloDocumentos{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    margin-top:0px;
  }
</style>
