@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background:#f1f1f1;
}
a {    
    text-decoration: none;
}
.text-info {
   color: rgb(51, 122, 183);
}
.text-danger {
    color: rgb(212, 38, 38);
    font-size:14px;
    text-align: center;
 }

 .btn-descarga{
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    background: #f7d145;
    border: none;
    max-width: 200px;
    cursor: pointer;
    box-shadow: inset 0 -0.2em rgba(0, 0, 0, .2);
    outline: 0;
    transition: .2s;
    height: 35px;
 }

.btn-startv {
    font-size:22px;
    padding:8px;
    border-radius:5px;
    background:#000000;
    border:none;
    max-width: 80%;
    cursor: pointer;
    box-shadow: inset 0 -.2em rgba(0, 0, 0, .2);
    outline: 0;   
    transition:.2s;
  }
  .btn-descarga:active{
      transform: scale(0.9)
   }
  .btn-startv:active{
      transform: scale(0.9)
   }

   label{
       font-size:16px;
   }


.controlform{
    margin: 9px;
    font-size: 20px;
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: solid 1px #000000;
    min-width: 300px;
    background-color: #FAC430;
}
.controlform:focus{    
    border-bottom: solid 2px #000000;  
}
.text-help{
    font-size:14px;
    text-align: center;
    color: rgb(83, 83, 83);
}
.ayuda{
    margin-top:50px;
    padding: 10px;
    text-align: center;
    background: rgba(240, 196, 23, 0.459);
}
.is-invalid{
    border-bottom: solid 2px #df211af5;  
}
.is-valid{
    border-bottom: solid 2px #000000; 
}
.invalid-feedback{
    display: block;
    font-size: 13px;
    color:#df211af5;
    font-weight: bold;
}

.titulo-ayuda {
    font-size: 30px;
    font-weight: bolder;
    color: #508452;
    padding-bottom: 10px;
    text-align: center;
    margin:40px;
  }


  .contenedor{
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: none;
    display:flex;
    justify-content:center;
    align-items: center;
    background: white;
}
.contenedor label{
  font-weight: bold;
}
.formulario-success{
  max-width: 500px;
   height:100%;
   padding:10px;
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-items:center;
   font-size:24px;
}
.formulario-success a{
 color:#074969;
 font-weight:bold;
}


.descripcion1{
  text-align: center;
}

.captch{
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 400px){
  #rc-imageselect, .g-recaptcha {
  display: inline;
  }
  #rc-imageselect{
  max-width: 100%;
  }
  .g-recaptcha>div>div{
  width: 100% !important;
  height: 78px;
  transform:scale(0.77);
  webkit-transform:scale(0.77);
  text-align: center;
  position: relative;
  }
  }

.formulario{
  max-width: 500px;
  height:100%;
  padding:10px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}
.titulo {
font-size: 30px;
font-weight: bolder;
color: #508452;
padding-bottom: 10px;
text-align: center;
margin:0px;
}


.aparatos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-bottom: 30px;
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    padding: 20px;
}




.aparato-digital{
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.21);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.21);
}
.aparato-internet{
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.21);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.21);
}

@media screen and (max-width: 400px) {
    .controlform{
        margin: 9px;
        font-size: 15px;
        padding: 8px;
        outline: none;
        border: none;
        border-bottom: solid 1px #000000;
        background-color: #FAC430;
        min-width: 220px;
    }
}


@media screen and (max-width: 770px) {
    .aparatos{
      display: flex;
      justify-content:space-around;
      align-items: center;
      flex-direction: column;
      width: auto;
      padding-bottom: 30px;
  }
  .aparatos .imgapa{
      width: 250px;
      height: 150px;
  }
  }
  @media screen and (max-width: 400px) {
    .aparatos{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      width: auto;
      padding-bottom: 30px;
      /* margin: 0; */
      margin-left: 20px;
      margin-right: 20px;
    }
  
  .aparatos .imgapa{
      width: 220px;
      height: 150px;
  }
  
  }
  
  .contenedorHome{
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: none;
    display:flex;
    justify-content:space-around;
}
.contenedorHome label{
  font-weight: bold;

}
.documentos-actuales{
    -webkit-box-shadow: 10px -4px 71px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px -4px 71px 2px rgba(0,0,0,0.24);
    box-shadow: 10px -4px 71px 2px rgba(0,0,0,0.24);
    max-width: 900px;
    width: 900px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:white;
}
.documentos-actuales-contenido{
  width: 100%;
   max-height: 400px;
  overflow-y: scroll;
}
.documentos-actuales ul{
  display: block;
}
.documentos-actuales-contenido p, h5,h6{
  font-size: 10px;
  margin: 0;
}
.documentos-actuales-contenido h5,h6{
  font-size: 14px;
   margin: 0;
}
.documentos-actuales li{
  list-style: none;
   border-bottom:1px solid #cccccc;
  padding: 10px;
  display: flex;
  justify-content:space-between;
}
.historial{
    -webkit-box-shadow: 10px -4px 71px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px -4px 71px 2px rgba(0,0,0,0.24);
    box-shadow: 10px -4px 71px 2px rgba(0,0,0,0.24);
    max-width: 800px;
    width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background:white;
}
.historial-lista{
    max-height: 400px;
    overflow-y: scroll;
}
.historial ul{
  display: block;
}
.historial li{
  list-style: none;
   border-bottom:1px solid #cccccc;
  padding: 10px;
  display: flex;
  justify-content:space-between;
}
.historial h3{
  text-align: center;
}

@media screen and (max-width: 770px) {
  .contenedorHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .historial{
    margin: 30px;
  }
}
@media screen and (max-width: 450px) {
  .contenedorHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .historial{
    max-width: 220px;
    display: flex;
    flex-direction: column;
  }
.documentos-actuales-contenido{
  max-height: 400px;
  overflow-y: scroll;
}
.documentos-actuales{
  display: flex;
    flex-direction: column;
  max-width: 900px;
}
.documentos-actuales-contenido p, h5,h6{
  font-size: 14px;
  margin: 7px;
  text-align: center;
}
.documentos-actuales-contenido img{
 margin-bottom: 10px;
 width: 70px;
}
.documentos-actuales li{
  list-style: none;
   border-bottom:1px solid #cccccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin-left: -30px;
}

.historial li{
  list-style: none;
   border-bottom:1px solid #cccccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin-left: -30px;
}
.historial button,img {
  margin-top: 10px
}
.historial img {
  margin-bottom: 10px
}
}


