<template>
  <div id="app">
    <router-view/>
    <BlockUI :message="'Espera un momento'" v-show="block"></BlockUI>
    <notifications group="foo" />
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'App',
  data () {
    return {
      block: false
    }
  },
  created () {
    let vm = this
    axios.interceptors.request.use(function (config) {
      vm.block = true
      return config
    },
    function (error) {
      vm.block = false
      return Promise.reject(error)
    })
    axios.interceptors.response.use(function (response) {
      vm.block = false
      return response
    },
    function (error) {
      vm.block = false
      vm.$notify({
        group: 'foo',
        type: 'error',
        title: '¡Se ha generado un error!',
        text: error,
        duration: 10000
      })
      return Promise.reject(error)
    })
  }
}
</script>
